.github/**
.venv/**
.vscode/**
.vscode-test/**
node_modules/**
.pytest_cache/**
src/**
scripts/**
server/**
bin/**
build/**
dist/**
tests/**
.gitignore
.yarnrc
poetry.lock
main.spec
**/tsconfig.json
**/.eslintrc
**/.eslintignore
**/*.map
**/*.ts
**/*.py
**/*.toml
